.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header-title {
  padding: 25px 0px;
  width: 100%;
  text-align: center;
}

.product-image-content {
  height: 200px;
}
.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
p {
  /* border: 1px solid #dddddd; */
  color: white;
}

img {
  object-fit: cover;
}
#root {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.products-table {
  display: flex;
}
.checkout-button {
  float: right;
  margin-top: 40px;
}
